<span id='home-compo'>
    <div class="vertical-centered-box" id="vertical-centered-box">
        <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
                <div class="loader-line">
                    <section class="home-section">
                        <div class="home-content"></div>
                    </section>
                </div>
            </div>
            <img src="PGL.png">
        </div>
    </div>
</span>