<div class="sidebar">
    <div class="logo-details justify-content-between align-items-center">
        <div class="">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">MATCH</span>
        </div>
        <span class="d-sm-none"><i onclick="hide_dashboard()" class="fa fa-times"></i></span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#" class="active">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-box'></i>
                <span class="links_name">Cricbuzz</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-list-ul'></i>
                <span class="links_name">Cricexch</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Espn</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Criclive</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i id='log-out' class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>